{% extends "app_3er/padre.html" %}

{% block title %}
Cursos
{% endblock title %}

{% load static%}

{% block cursos %}
        <!-- Content section 1-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src='{% static "app_3er/assets/img/02.jpg" %}' alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Cursos</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock cursos %}

{% block formulariocurso %}
<section>
<h1>Formulario</h1>
{% if miFormulario.errors %}

<p style="color:red;">Estan mal los datos, revisar </p>

{% endif %}

<form action="{% url 'cursoformulario' %}" method="POST"> {% csrf_token %}

		<table> 
				{{ miFormulario.as_table }}
		</table>

		<input type="submit" value="Enviar">

</form>
</section>
{% endblock formulariocurso %}

